

@{
    ViewData["Title"] = "Index";
}

<h2>Produtos</h2>
@* 
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var produtos in Model)
    {
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@produtos.TituloProduto</h5>
                    <p class="card-text">@produtos.DescricaoProduto</p>
                    <p class="card-text">@produtos.AvaliacaoProduto</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#produtoModal_@produtos.ProdutoId">
                        Detalhes
                    </button>
                </div>
            </div>
        </div>
        
    }

</div> *@
